@media (max-width: 576px) {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 25px;
  }

  .container {
    max-width: 320px;
  }

  .footer .row {
    padding-bottom: 10px;
    display: flex;
    font-size: 13px;
  }

  .footer h5 {
    font-size: 15px;
  }

  .footer .social {
    line-height: parent;
  }

  .directions-section h2 {
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) {
  .carousel-containers {
    padding: 1.5em 0;
  }
}
